[submodule "components/MPU6050"]
	path = components/MPU6050
	url = https://bitbucket.org/aero_pacio/mpu6050component/src/master/
[submodule "components/TFMINI"]
	path = components/TFMINI
	url = https://bitbucket.org/aero_pacio/tfminicomponent/src/master/
[submodule "components/CAN_COMM"]
	path = components/CAN_COMM
	url = https://bitbucket.org/aero_pacio/can_comms_component/src/master/
[submodule "components/BT_CLASSIC"]
	path = components/BT_CLASSIC
	url = https://bitbucket.org/aero_pacio/bt_classic_component/src/master/
