[submodule "components/CAN_COMMS"]
	path = components/CAN_COMMS
	url = https://github.com/patoGarces/CAN_COMMS_Components_ESP32
[submodule "components/SERVO_CONTROL"]
	path = components/SERVO_CONTROL
	url = https://github.com/patoGarces/SERVO_CONTROL_Components_ESP32
